body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ia-window {
  width: 95%;
  max-width: 400px;
  background: linear-gradient(135deg, pink, fuchsia, violet, lavender);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
  text-align: center;
}

.ia-window h2 {
  color: 	white;
  margin-bottom: 5px;
}

.ia-window p {
  color: 	brown;
  margin-bottom: 18px;
  font-weight: bold;
  font-style: italic;
}

.btn {
  border: none;
  padding: 12px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

/* Botón general sentimientos */
.btn-sentimientos {
  background: linear-gradient(90deg, #ff69b4, #dda0dd);
  color: white;
  font-weight: bold;
}

/* Botón general reto */
.btn-reto {
  background: linear-gradient(90deg, #8a2be2, #ffb6c1);
  color: white;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

.text-box {
  background: linear-gradient(360deg, pink, fuchsia, violet, lavender);
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight:;
}

.hidden {
  display: none;
}
